<!DOCTYPE html>
<html>
  <head>
    <title>Zack Dragoon</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header>
    <h1>Zack Dragoon's</h1>
    <%= yield :subtitle %>
  </header>

  <%= yield %>

  <%= render 'layouts/footer' %>
  </body>
</html>
